body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#heatmap-container {
  display: inline-block;
  position: relative;
}

.tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  pointer-events: none;
  z-index: 6;
  font-size: 12px;
  color: #333;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
